* {
    box-sizing: border-box;
    user-select: none;
}

@font-face {
    font-family: ss4;
    src: url(Font/SSF4.ttf)
}
@font-face {
    font-family: fighting;
    src: url(Font/Fighting.TTF)
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: url('images/backgrounds/particleBG.gif');
    background-position: center;
    background-size: cover;
    background-color: #475eff;
}

li {
    list-style-type:  none;
    position: relative;
}

a{
    text-decoration: none;
    color: inherit;
}

.instruction-content{
    position: relative;
    font-family: fighting;
    width: 100vw;
    color: #ffdd00;
    text-shadow: 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black;
}


.instruction-content>div h1{
    font-size: 4.5em;
    margin-top: 3%;
    border-bottom: 3px solid;
}


.instruction-content div{
    margin: auto;
    text-align: center;
    width: 70%;
    padding-bottom: 4%;
}

.instruction-content div ol{
    counter-reset: li;
    text-align: left;
    font-family: arial;
    font-weight: bold;
    color: #c5c523;
    font-size: 3vmin;
    padding-left: 5%;
    word-spacing: 5px;
    letter-spacing: 2px;
}

.instruction-content div ol li::before{
    display: inline-block;
    position: absolute;
    counter-increment: li;
    content: counter(li)".";
    left: -35px;
    color: #c5c523;
    text-shadow: 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black;
}

.back{
    margin-top: 3%;
    font-size: 2em;
}

.bottom::before{
    content: "";
    display: block;
    border-top: 3px solid;
    margin-bottom: 2%;
}

.bottom{
    font-size: 3em;
}

figure{
    text-align: center;
    margin: 20px 0;
}

.ins-img{
    width: 400px;
    border-radius: 10px;
}

.top{
    margin: 1%;
    display: inline-block;
}

/***************************** media query ***********************************/

@media screen
    and (max-height: 768px)
    and (max-width: 420px){

    .instruction-content div ol{
        padding: 0;
    }

    .ins-img{
        width: 90%;
        max-width: 300px;
    }

    .back{
        font-size: 2em;
    }

    .top{
        margin: 1% 3%;
    }

    .instruction-content div h1{
        font-size: 3em;
    }

}


/***************************** end of media query ****************************/
