@keyframes alternate-spin {
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(180deg);
    }
    100% {
      transform: rotateY(0deg);
    }
}


@keyframes spin{
    from {transform: rotateY(0deg)}
    to {transform: rotateY(360deg)}
}

@keyframes readyPulse {
    0%{
        text-shadow: 2px 2px 15px white,
                    -2px -2px 15px white,,
                    -2px 2px 15px white,,
                    2px -2px 15px white,;
    }
    50%{
        text-shadow: 3px 3px 15px yellow,
                    -3px -3px 15px yellow,
                    -3px 3px 15px yellow,
                    3px -3px 15px yellow;
    }
    100%{
        0%{
            text-shadow: 1px 1px 15px white,
                        -1px -1px 15px white,,
                        -1px 1px 15px white,,
                        1px -1px 15px white,;
        }
    }
}
